In [1]:
#inport pandas module
import pandas as pd

In [2]:
#making df
jobs100 = pd.read_csv("100.csv")

In [3]:
#show preview of jobs
jobs100.head()

,id,Date,Company,Title,Location,Description,Level,Type,Function,Industry,Link,search_field
0,1,2022-11-01,Flexon Technologies Inc.,IT Analyst-Entry level.,"Pleasanton, CA",Entry Level Business Analyst|||||Responsibilit...,Entry level,Full-time,Information Technology,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/it-analyst-...,Information and Technology
1,2,2022-11-29,Tri-City Medical Center,"IT SUPPORT TECHNICIAN - $5,000 Sign-On Bonus","Oceanside, CA",US-CA-Oceanside|||||Tri-City Healthcare Distri...,Entry level,Full-time,Information Technology,Hospitals and Health Care,https://www.linkedin.com/jobs/view/it-support-...,Information and Technology
2,3,2022-11-10,LHH,IT Specialist,"Los Angeles, CA",I.T. Specialist||LHH Technology has partnered ...,Entry level,Full-time,"Information Technology, Customer Service, and ...",Non-profit Organizations,https://www.linkedin.com/jobs/view/it-speciali...,Information and Technology
3,4,2022-11-04,Flexon Technologies Inc.,Data Analyst-Entry level.,"Pleasanton, CA",Responsibilities|||||Work hand-in-hand with th...,Entry level,Full-time,Information Technology,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/data-analys...,Information and Technology
4,5,2022-11-17,Supermicro,IT Engineer (helpdesk),"San Jose, CA",IT Engineer (helpdesk)||*Workplace type: on-si...,Entry level,Full-time,"Information Technology, Engineering, and Custo...","IT Services and IT Consulting, Appliances, Ele...",https://www.linkedin.com/jobs/view/it-engineer...,Information and Technology

In [5]:
companies = jobs100["Company"]
companies.head()

0    Flexon Technologies Inc.
1     Tri-City Medical Center
2                         LHH
3    Flexon Technologies Inc.
4                  Supermicro
Name: Company, dtype: object

In [6]:
id = 1
unique_companies = {}
for company in companies:
    if company in unique_companies.values():
        #getID of company
        # list out keys and values separately
        key_list = list(unique_companies.keys())
        val_list = list(unique_companies.values())
        
        # print id with val company
        position = val_list.index(company)
        #print(key_list[position])
    else:
        #setID to next available and add company to unique companies
        unique_companies[id] = company
        #print(unique_companies)
        id = id + 1

#print(unique_companies)

In [7]:
#Create new dataframe with company_id and company_name
company_info = pd.DataFrame(columns=["company_id","company_name"])
for key in unique_companies:
    company_info.loc[len(company_info.index)] = [key, unique_companies[key]]

company_info.head()
#company_info.shape

   company_id                                       company_name
0           1                           Flexon Technologies Inc.
1           2                            Tri-City Medical Center
2           3                                                LHH
3           4                                         Supermicro
4           5  California Department of Toxic Substances Control

In [8]:
#add ids to jobs100 df
jobs100["company_id"] = ""
jobs100.head()

,id,Date,Company,Title,Location,Description,Level,Type,Function,Industry,Link,search_field,company_id
0,1,2022-11-01,Flexon Technologies Inc.,IT Analyst-Entry level.,"Pleasanton, CA",Entry Level Business Analyst|||||Responsibilit...,Entry level,Full-time,Information Technology,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/it-analyst-...,Information and Technology,
1,2,2022-11-29,Tri-City Medical Center,"IT SUPPORT TECHNICIAN - $5,000 Sign-On Bonus","Oceanside, CA",US-CA-Oceanside|||||Tri-City Healthcare Distri...,Entry level,Full-time,Information Technology,Hospitals and Health Care,https://www.linkedin.com/jobs/view/it-support-...,Information and Technology,
2,3,2022-11-10,LHH,IT Specialist,"Los Angeles, CA",I.T. Specialist||LHH Technology has partnered ...,Entry level,Full-time,"Information Technology, Customer Service, and ...",Non-profit Organizations,https://www.linkedin.com/jobs/view/it-speciali...,Information and Technology,
3,4,2022-11-04,Flexon Technologies Inc.,Data Analyst-Entry level.,"Pleasanton, CA",Responsibilities|||||Work hand-in-hand with th...,Entry level,Full-time,Information Technology,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/data-analys...,Information and Technology,
4,5,2022-11-17,Supermicro,IT Engineer (helpdesk),"San Jose, CA",IT Engineer (helpdesk)||*Workplace type: on-si...,Entry level,Full-time,"Information Technology, Engineering, and Custo...","IT Services and IT Consulting, Appliances, Ele...",https://www.linkedin.com/jobs/view/it-engineer...,Information and Technology,

In [9]:
for i in range(len(jobs100)):
    company = jobs100.iloc[i].Company
    company_id = company_info.loc[company_info.company_name == company].company_id.values[0]
    jobs100.loc[i, "company_id"] = company_id
jobs100.head()

,id,Date,Company,Title,Location,Description,Level,Type,Function,Industry,Link,search_field,company_id
0,1,2022-11-01,Flexon Technologies Inc.,IT Analyst-Entry level.,"Pleasanton, CA",Entry Level Business Analyst|||||Responsibilit...,Entry level,Full-time,Information Technology,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/it-analyst-...,Information and Technology,1
1,2,2022-11-29,Tri-City Medical Center,"IT SUPPORT TECHNICIAN - $5,000 Sign-On Bonus","Oceanside, CA",US-CA-Oceanside|||||Tri-City Healthcare Distri...,Entry level,Full-time,Information Technology,Hospitals and Health Care,https://www.linkedin.com/jobs/view/it-support-...,Information and Technology,2
2,3,2022-11-10,LHH,IT Specialist,"Los Angeles, CA",I.T. Specialist||LHH Technology has partnered ...,Entry level,Full-time,"Information Technology, Customer Service, and ...",Non-profit Organizations,https://www.linkedin.com/jobs/view/it-speciali...,Information and Technology,3
3,4,2022-11-04,Flexon Technologies Inc.,Data Analyst-Entry level.,"Pleasanton, CA",Responsibilities|||||Work hand-in-hand with th...,Entry level,Full-time,Information Technology,IT Services and IT Consulting,https://www.linkedin.com/jobs/view/data-analys...,Information and Technology,1
4,5,2022-11-17,Supermicro,IT Engineer (helpdesk),"San Jose, CA",IT Engineer (helpdesk)||*Workplace type: on-si...,Entry level,Full-time,"Information Technology, Engineering, and Custo...","IT Services and IT Consulting, Appliances, Ele...",https://www.linkedin.com/jobs/view/it-engineer...,Information and Technology,4

In [ ]:
jobs100.to_csv('jobs100.csv')
company_info.to_csv('company_info_100.csv')